/*
Your theme styles
*/
          * {
              box-sizing: border-box;
          }

          body {
              background: #e2dccc;
              font-family: "Mclaren", sans-serif;
              font-weight: 300;
              line-height: 1.2;
              padding: 1rem;
          }

          @media (min-width: 880px) {
              body {
                  padding: 3rem;
              }
          }

          h3 {
              font-family: Syncopate, sans-serif;
              font-weight: 700;
              font-size: 1.5rem;
              background: #dec022;
              color: #04110f;
              letter-spacing: 0.2rem;
              padding: 1rem 2rem;
              text-transform: uppercase;
              box-shadow: 0 -6px 0 0 #333, 0 6px 0 0 #333;
          }

          @media (min-width: 550px) {
              h3 {
                  font-size: 2.5rem;
              }
          }

          span.allergen {
              display: inline-block;
              width: 30px;
              height: 30px;
              text-align: center;
              font: 800 0.8rem Syncopate;
              padding-top: 7px;
              color: #e2dccc;
              background: #00acc1;
              border: 2px solid #04110f;
              margin-top: 4px;
          }

          span.allergen:not(:first-child) {
              margin-left: -2px;
          }

          span.allergen.eggs {
              background: #931a47;
          }

          span.allergen.wheat {
              background: #e88c30;
          }

          span.allergen.dairy {
              background: #009688;
          }

          span.allergen.sea {
              background: #ca3101;
          }

          header {
              display: grid;
              grid-template-columns: min-content 2fr 1.3fr;
          }

          .name {
              display: grid;
              grid: repeat(2, 60px)/repeat(3, 60px);
              font-family: Syncopate, sans-serif;
              font-weight: 700;
              font-size: 2.5rem;
              border: 6px solid #04110f;
              border-width: 6px 6px 0;
              color: #dec022;
              text-align: center;
              grid-column: span 3;
              background: repeating-linear-gradient(90deg, #04110f 0px, #04110f 5px, transparent 5px, transparent 10px);
          }

          @media (min-width: 550px) {
              .name {
                  grid-column: span 1;
                  background: #04110f;
              }
          }

          .name span {
              padding-top: 0.5rem;
          }

          .name span:nth-child(odd) {
              background: #04110f;
          }

          .name span:nth-child(even) {
              background: #dec022;
              color: #04110f;
          }

          .opening-hours {
              border: 6px solid #04110f;
              border-width: 6px 6px 0;
              grid-column: span 3;
              background: #6f7bd0;
              color: #e2dccc;
              padding: 1rem 1.6rem;
              font-size: 1.3rem;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              line-height: 1.1;
          }

          @media (min-width: 550px) {
              .opening-hours {
                  grid-column: span 2;
                  border-width: 6px 6px 0 0;
              }
          }

          @media (min-width: 880px) {
              .opening-hours {
                  grid-column: span 1;
                  border-width: 6px 0 0;
              }
          }

          @media (min-width: 1200px) {
              .opening-hours {
                  font-size: 1.8rem;
              }
          }
          .location {
              border: 6px solid #04110f;
              border-width: 6px 6px 0;
              grid-column: 1 / -1;
              background: #04110f;
              color: #e2dccc;
              text-align: center;
              padding: 0.6rem;
          }

          .location p:nth-child(1) {
              font-family: Syncopate;
              font-weight: 700;
              font-size: 1.4rem;
              margin: 0 0.5rem 0.5rem;
          }

          @media (min-width: 1400px) {
              .location p:nth-child(1) {
                  font-size: 1.6rem;
              }
          }

          @media (min-width: 550px) {
              .location {
                  display: flex;
                  align-items: center;
              }

              .location p:nth-child(1) {
                  margin: 0.3rem 0.8rem 0.3rem 0.3rem;
              }
          }

          @media (min-width: 880px) {
              .location {
                  grid-column: 3 / 4;
              }
          }

          .legend {
              border: 6px solid #04110f;
              border-width: 0 6px 6px 0;
              background: repeating-linear-gradient(90deg, transparent 0px, transparent 5px, #04110f 5px, #04110f 10px);
          }

          @media (min-width: 880px) {
              .legend {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: flex-end;
                  border-width: 6px;
              }
          }

          .legend__item {
              display: block;
              background: #e2dccc;
          }

          .legend__item span {
              display: inline-block;
              height: 40px;
              text-transform: uppercase;
              font-weight: 500;
              padding: 12px 20px 12px 12px;
              flex: auto;
          }

          .legend__item i {
              display: inline-block;
              width: 55px;
              height: 45px;
              font-family: Syncopate, sans-serif;
              font-size: 1.3rem;
              font-weight: 700;
              text-align: center;
              line-height: 2.3;
              color: #e2dccc;
              border: 6px solid #04110f;
              border-width: 0 6px;
          }

          .legend__item:nth-child(1) {
              color: #00acc1;
          }

          .legend__item:nth-child(1) i {
              background: #00acc1;
          }

          .legend__item:nth-child(2) {
              color: #931a47;
          }

          .legend__item:nth-child(2) i {
              background: #931a47;
          }

          .legend__item:nth-child(3) {
              color: #e88c30;
          }

          .legend__item:nth-child(3) i {
              background: #e88c30;
          }

          .legend__item:nth-child(4) {
              color: #009688;
          }

          .legend__item:nth-child(4) i {
              background: #009688;
          }

          .legend__item:nth-child(5) {
              color: #ca3101;
          }

          .legend__item:nth-child(5) i {
              background: #ca3101;
          }