// General structure Edited

.entry-content {
    margin: 0px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-wpd{
    padding-right: 0px;
}
.sidebar{
    border-left: 6px solid #04110f;
}


// color background

.bg-yellow {
    background-color: $color__background-yellow !important;
    }
.border-bottom6px {
        border-bottom: 6px solid $black!important; 
        }    