// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

 /*--------------------------------------------------------------
## main#site-main.mt-5
--------------------------------------------------------------*/
main#site-main.mt-5{
    margin-top: 0rem!important;
    border-left: 6px solid #04110f!important;
    border-right: 6px solid #04110f!important;
    border-bottom: 6px solid #04110f!important;
  }

breadcrumbs#border-bottom{
  border-left: 6px solid #04110f!important;
  border-right: 6px solid #04110f!important;
}
headertitle{
  display: inline-grid;
}
div.header-meta.my-5.border-top.border-bottom.py-3.text-center.text-muted{
  font-size:0.9rem;
}